.App {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

h1.title{
    text-align: center;
    font-size: 70px;
    color: Yellow;
    padding-top: 30px;
    margin: 0px 0px -20px 0px;
}

h2.below-title{
    text-align: center;
    color: white;
    font-size: 50px;
}

.front-logo{
    padding-top: 50px;
    border-radius: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 500px;
    float: left;
    margin: -50px 0px 0px 0px;
    
}

h1.next-picture{
    font-size: 50px;
    color: Yellow;
    padding-right: 430px;
    margin: 0px 0px -20px 0px;
}
 
body{
    background-color: Salmon;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h2.description{
    font-size: 25px;
    color: white;
    text-align: left;
    padding-left: 15px;
}



@keyframes App-logo-spin {
  from { transform: rotat(0deg); }
  to { transform: rotate(360deg); }
}




/* mobile */
@media only screen and (max-width:800px){
    .front-logo{
        padding-top: 40px;
        height: 150px;
        width: 150px;
        padding-right: 0px;
        margin: -43px -20px 0px 0px;
        float: none;

    }

    h1.title{
        font-size: 30px;
        margin: 0px 0px -10px 0px;
    }

    h2.below-title{
        font-size: 20px;
    }

    h1.next-picture{
        font-size: 17px;
        padding-right: 0px;
        margin: -23px 0px 0px 0px;
    }

    h2.description{
        font-size: 6px;
        padding-left: 160px;
        margin: -2px 0px 0px 0px;
        
    }
}
