.App {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

h1.title{
    text-align: center;
    font-size: 70px;
    color: Yellow;
    padding-top: 30px;
    margin: 0px 0px -20px 0px;
}

h2.below-title{
    text-align: center;
    color: white;
    font-size: 50px;
}

.front-logo{
    padding-top: 50px;
    border-radius: 25px;
    padding-right: 35px;
    padding-bottom: 15px;
    height: 500px;
    float: left;
    margin: -50px 0px 0px 0px;
    
}

h1.next-picture{
    font-size: 50px;
    color: Yellow;
    padding-right: 410px;
    margin: 0px 0px -20px 0px;
}
 
body{
    background-color: Salmon;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-tite {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h2.description{
    font-size: 25px;
    color: white;
    text-align: left;
    padding-left: 30px;
}

div.for-mobile{
    display: none;
}



@keyframes App-logo-spin {
  from { transform: rotat(0deg); }
  to { transform: rotate(360deg); }
}

div.for-nav{
    float: right;
    height: 70px;
    width: 300px;
    background-color: pink;
    width: 500px;
    color: green;
    padding-right: 142px;
    border-radius: 25px;
}

img.git{
    margin: -8px 0px 0px 0px;
}

img.linked{
    height: 78px;
    margin: -6px 0px 0px 0px;
}

img.email{
    height: 58px;
    padding-left: 170px;
    margin: -10px 0px 0px 0px;
    

}
img.resume{
    width: 57px;
    margin: -15px 0px 0px 0px;

}

@media only screen and (max-width:1450px){
    h1.title{
        font-size: 60px;
    }
    body{
        background-color: Salmon;
    }

    h2.below-title{
        font-size: 40px;
    }

    img.front-logo{
        float: left;
        height: 390px;
    }

    h1.next-picture{
        padding-right: 230px;
        padding-bottom: 10px;
        font-size: 36px;
        margin-right: 0px 0px 0px 0px;
    }
    
    h2.description{
        font-size: 20px;
    }

    div.for-nav{
        display: none;
    }

    div.for-mobile{
        display: block;
        padding-left: 70px;
        background-color: pink;
        border-radius: 25px;
        width: 380px;
        float: right;
        padding-top: 0px;
        padding-bottom: -10px;

    }
    
    img.git{
        margin: -10px 0px -7px 0px;
        padding-right: 0px;
        height: 40px;


    }

    img.linked{
        height: 55px;
        padding-right:0px;
        margin: 0px 0px 0px 0px;
    }

    img.email{
        height: 40px;
        padding-right: 7px;
        padding-top: 0px;
        padding-left: 49px;
        margin: 0px 0px 0px 0px;

    }
    img.resume{
        padding-left: 2px;
        height: 40px;
        width: 40px;
        margin: -8px 0px 0px 0px;
    }


}


@media only screen and (max-width: 1400px){
    body{
        '''background-color: Salmon;'''
        background-color: Salmon;
    }

    h1.next-picture{
        padding-right: 210px;
    }


}



@media only screen and (max-width: 1300px){
    body{
        background-color: Salmon;
    }
    
    img.front-logo{
        height: 400px;
        width: 450px;
    }
    h1.title{
        font-size: 50px;
    }

    h2.below-title{
        font-size: 30px;
    }

    h1.next-picture{
        padding-right: 233px;
        font-size: 35px;
    }

    h2.description{
        font-size: 21px;
    }
    

    
    div.for-mobile{
        width: 355px;
        padding-left: 55px;
    }

    img.email{
        padding-left:47px;
    }

    img.linked{
        margin: 0px 0px 0px 0px;
    }

    img.resume{
        padding-left: 0px;
        margin:-10px 0px 0px -4px;
    }

}


/* mobile */
@media only screen and (max-width: 600px){ 

    img.front-logo{
        padding-top: 40px;
        height: 300px;
        width: 300px;
        padding-right: 50px;
        margin: -43px 0px 0px 0px;
        float: none;


    }

    h1.title{
        font-size: 30px;
        margin: 0px 0px -10px 0px;
    }

    h2.below-title{
        font-size: 20px;
    }

    body{
        background-color: Salmon;
    }

    h1.next-picture{
        font-size: 25px;
        text-align: center;
        padding-right: 0px;
        margin: 0px 0px -22px 0px;

    }


    div.contain{
        padding-left: 4px;
    }
    h2.description{
        font-size: 20px;
        padding-left: 20px;
        
    }

    div.for-nav{
        display: none;
    }
    
    div.for-mobile{
        width: 260px;
        height: 55px;
        padding-left: 20px;
        display: block;
        background-color: pink;
        border-radius: 25px;
    }

    
    img.git{
        margin: -7px 0px 0px 0px;
        padding-left: 0px;
        margin: -4px -2px 0px 0px;
        height: 42px;

    }

    img.linked{
        padding-top: 2px;
        padding-right: 1px;
        margin: -4px 0px 0px 0px;
        
    }

    img.email{
        padding-left: 22px;
        padding-top: 3px;
        margin: -4px -2px 0px 0px;
    }
    img.resume{
        padding-left: 0px;
        padding-top: 5px;
        margin: -7px 0px 0px -5px;
    }

    body{
        background-color: blue;
    }


}



@media only screen and (max-width: 400px){

    body{
        background-color: black;
    }

     img.front-logo{
        padding-top: 40px;
        height: 200px;
        width: 200px;
        padding-right: 0px;
        margin: -43px 0px 0px 0px;
        float: none;


    }

    div.for-mobile{
        width: 200px;
        height: 55px;
        padding-left: 15px;
        display: block;
        background-color: pink;
        border-radius: 25px;
    }   


    img.email{
        padding-left: 1px;
        padding-top: 3px;
        margin: -4px -2px 0px 0px;
    }

}

