.App {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

h1.title{
    text-align: center;
    font-size: 70px;
    color: Yellow;
    padding-top: 30px;
    margin: 0px 0px -20px 0px;
}

h2.below-title{
    text-align: center;
    color: white;
    font-size: 50px;
}

.front-logo{
    padding-top: 50px;
    border-radius: 25px;
    padding-right: 35px;
    padding-bottom: 15px;
    height: 500px;
    float: left;
    margin: -50px 0px 0px 0px;
    
}

h1.next-picture{
    font-size: 50px;
    color: Yellow;
    padding-right: 410px;
    margin: 0px 0px -20px 0px;
}
 
body{
    background-color: Salmon;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-tite {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h2.description{
    font-size: 25px;
    color: white;
    text-align: left;
    padding-left: 30px;
}

div.for-mobile{
    display: none;
}



@keyframes App-logo-spin {
  from { transform: rotat(0deg); }
  to { transform: rotate(360deg); }
}

div.for-nav{
    float: right;
    height: 70px;
    width: 300px;
    background-color: pink;
    width: 500px;
    color: green;
    padding-right: 142px;
    border-radius: 25px;
}

img.git{
    margin: 0px -175px 0px 0px;
}

img.linked{
    height: 75px;
    margin: 0px -5px 0px 0px;
}

img.email{
    height: 58px;
    padding-top: 7px;
    padding-right: 70px;

}
img.resume{
    width: 57px;
    margin: 0px -5px 0px 0px;
}


/* mobile */
@media only screen and (max-width: 600px){ 

    .front-logo{
        padding-top: 40px;
        height: 300px;
        width: 300px;
        padding-right: 50px;
        margin: -43px 0px 0px 0px;
        float: none;


    }

    h1.title{
        font-size: 30px;
        margin: 0px 0px -10px 0px;
    }

    h2.below-title{
        font-size: 20px;
    }

    body{
    }

    h1.next-picture{
        font-size: 25px;
        text-align: center;
        padding-right: 0px;
        margin: 0px 0px -10px 0px;

    }


    div.contain{
        padding-left: 4px;
    }
    h2.description{
        font-size: 20px;
        padding-left: 20px;
        
    }

    div.for-nav{
        display: none;
    }
    
    div.for-mobile{
        width: 350px;
        padding-left: 20px;
        display: block;
        background-color: pink;
        border-radius: 25px;
    }

    
    img.git{
        margin: 0px -30px 0px 0px;
        padding-right: 0px;


    }

    img.linked{
    }

    img.email{
    }
    img.resume{
        padding-left: 2px;
    }



}
